# Introduction to Python

By: Hugo Bowne-Anderson

### 1. Python Basics

- Guido Van Rossum
- Open Source

In [3]:
print(7+10)

17

In [5]:
# Use # as a comment

In [7]:
print(5 - 5) # substraction
print(3 * 5) # multiplication
print(10 / 2) # division
print(18 % 7) # modulo
print(4 ** 2) # exponentiation

0
15
5.0
4
16

#### Variables and Types

- Case-sensitive

In [13]:
var1 = "Introduction to Python" # For strings, we can use single quote or double quote
var1

'Introduction to Python'

In [11]:
var2 = 5
var2

5

#### Python Types

In [10]:
type(var1)

str

In [12]:
type(var2)

int

#### Variable Types

- __int__: an integer number
- __float__: a real number that can have both integer with fraction (separated by point)
- __str__: a string to represent text, can use single or double quotes
- __bool__: can be either __True__ or __False__. 
<br> Remember that the values are also case-sensitive.

In [15]:
5 == 6

False

#### Type Conversion

In [16]:
# Using the + operator to paste together two strings
print("Data" + " " + "Science")

Data Science

In [19]:
# Combining string and float using str()
print("I am " + str(27) + " years old.")

I am 27 years old.

### 2. Python Lists

#### Python Data Type: List

List is compound data type where you can group values together.

In [27]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [32]:
type(areas)

list

#### List of lists

In [31]:
# Create list of lists
house = [["hallway", hall], ["kitchen", kit], ["living room", liv], ["bedroom", bed], ["bathroom", bath]]

# Print areas
house

[['hallway', 11.25],
 ['kitchen', 18.0],
 ['living room', 20.0],
 ['bedroom', 10.75],
 ['bathroom', 9.5]]

In [33]:
type(house)

list

### 3. Functions and Packages

### 4. NumPy