# Introduction to Python

By: Hugo Bowne-Anderson

### 1. Python Basics

- Guido Van Rossum
- Open Source

In [3]:
print(7+10)

17

In [5]:
# Use # as a comment

In [7]:
print(5 - 5) # substraction
print(3 * 5) # multiplication
print(10 / 2) # division
print(18 % 7) # modulo
print(4 ** 2) # exponentiation

0
15
5.0
4
16

#### Variables and Types

- Case-sensitive

In [13]:
var1 = "Introduction to Python" # For strings, we can use single quote or double quote
var1

'Introduction to Python'

In [11]:
var2 = 5
var2

5

#### Python Types

In [10]:
type(var1)

str

In [12]:
type(var2)

int

#### Variable Types

- __int__: a number without fractions
- __float__: a number that can have both integer with fraction (separated by point)
- __str__: a type to represent text, can use single or double quotes
- __bool__: can be either __True__ or __False__. 
<br> Remember that the values are also case-sensitive.

In [15]:
5 == 6

False

#### Type Conversion

In [16]:
# Using the + operator to paste together two strings
print("Data" + " " + "Science")

Data Science

In [19]:
# Combining string and float using str()
print("I am " + str(27) + " years old.")

I am 27 years old.

### 2. Python Lists

### 3. Functions and Packages

### 4. NumPy